#footer {
	width: auto;
	height: 210px;
	background-color: #4A4A4A;
	border-top: 10px solid #C8C8C8;
	padding: 30px;
	padding-left: 25px;
}

#footer {
    width: auto;
    float: none;
}

#footer {
    width: auto;
    float: none;
}
